.content-bottom {
    position: relative;
    font-size: clamp(23px, 2.3vw, 36px);
    font-weight: bold;
    letter-spacing: 4px;
    color: var(--color-light);

    &--left,
    &--center,
    &--right {
        width: fit-content;
        padding: 5px 20px;
        border-inline: 5px solid var(--color-light);
    }
    &--center {
        margin: clamp(20px, 2vw, 30px) auto;
    }
    &--right {
        position: absolute;
        right: 0;
    }
}
