.footer {
    text-align: center;
    font-size: 20px;

    &-address {
        padding-block: 20px;
        background-color: var(--color-brown);
    }

    &-copyright {
        background-color: #170707;
        padding-block: 10px;
    }
}
