@use './components/form/form.module.scss';

.form-block {
    color: var(--color-brown);
    text-align: center;
    font-weight: bold;

    &-inner {
        margin: 0 auto;
        width: var(--content-width);
        padding-block: 70px;
    }

    &-text {
        font-size: 30px;
        margin-bottom: 20px;
    }

    &-link {
        font-size: 38px;
        border: 8px solid var(--color-brown);
        border-radius: 20px;
        padding: 0 20px;
        margin-bottom: 50px;
    }
}