@mixin flex-center($isInline: false) {
    @if $isInline {
        display: inline-flex;
    } @else {
        display: flex;
    }

    justify-content: center;
    align-items: center;
}

@mixin page-inner {
    width: var(--content-width);
    margin: 0 auto;
    padding-block: var(--header-height) 50px;
}
