:root {
    --content-width: clamp(750px, 60vw, 1200px);
    --header-height: clamp(85px, 9vw, 120px);

    --color-light: #f0d1a6;
    --color-red: #dd3738;
    --color-brown: #2c0c0c;

    --font-family-base: "Montserrat", "sans-serif";
}
