@use "./course-block/course-block.module.scss";

.courses {
    background-color: var(--color-light);
    color: var(--color-brown);

    &-inner {
        width: var(--content-width);
        margin: 0 auto;
        padding-block: var(--header-height) 50px;
    }
}
